{#
/**
 * @file
 * Theme override to display the footer.
 *
 */
#}

<div class="container-fluid container-footer footer-theme2">
	<div class="container">
		<div class="row">
			<div class="footer-flex-1">
				<div class="footer-primary">
					<div class="footer-logo">
						<a href="{{ footer_logo_path }}" class="main-logo">
							<span class="hiddenText">Thompson Conference Center</span><img src="{{ footer_logo_path }}" alt="site_logo"></a>
					</div>

					<div class="footer-contact">
						{{ footer_extra_text }}
					</div>

					{% if page.footer_connect %}
						<div class="connect">
							{{ page.footer_connect }}
						</div>
					{% endif %}
				</div>
			</div>

			<div class="footer-flex-2">
				<div class="footer-secondary">{{ footer_contact_info }}</div>
			</div>

			<div class="footer-flex-divider">&nbsp;</div>

			<div class="footer-flex-3">
				<div class="footer-tertiary">{{ page.footer_thirdcolumn }}</div>
			</div>
		</div>
		<!--end row-->
	</div>
	<!--end container-->
</div>
<!--end footer-theme-2-->

<div class="footer-bottom-spacer"></div>
<div class="copyright-bar container-fluid">
	<div class="container">
		<div class="row">
			<div class="copyright-bar-content">
				<div class="copyright">
					<span>
						<a href="https://extendededucation.utexas.edu">Powered by Extended Education Ventures</a>
					</span>
					<span class="footer-powered-pipe">|</span>
					<span>&copy;</span>
					<a href="https://utexas.edu">The University of Texas at Austin</a>&nbsp;{{ "now"|date('Y') }}</div>

				<div class="copyright-bar-links">{{ copyright_bar_links }}</div>
			</div>
		</div>
	</div>
</div>
<!--container-fluid-->
