{#
/**
 * @file
 * Theme override to display the header.
 *
 */
#}

<header class="ut-header {{ logo_height }}" role="banner">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="ut-header-wrapper">
					{{ page.header_primary }}
					<button role="button" class="ut-btn--toggle" aria-haspopup="true" aria-controls="ut-main_menu-wrapper" aria-expanded="false" id="js-nav-toggle" href="#ut-main_menu-wrapper">MENU</button>
				</div>

				<div id="ut-main_menu-wrapper">
					<div class="header-flex-wrapper">
						{{ page.header_secondary }}
						<div class="ph-number">
							<a href="tel:{{ tel_number }}">
								<span class="ph-number">{{ tel_number }}</span>
							</a>
						</div>

						{{ page.header_tertiary }}
						<div
							class="shopping-cart">
							{# Shopping cart. #}
							{% if display_ic_cart %}
								<p>do something.</p>
							{% endif %}

							{% if display_uex_cart %}
								<p>do something.</p>
							{% endif %}

							{% if display_cpe_cart %}
								<div class="row cart-toggle-small"></div>')
							{% endif %}
						</div>
					</div>
					{{ page.primary_menu }}
				</div>
			</div>
		</div>
	</div>
</header>
{{ page.site_announcement }}
